<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net"
             type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.0"/>
  </startup>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="SlackAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
    <appender name="ColoredConsoleAppender"
              type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="SlackAppender"
              type="Log4Slack.SlackAppender, Log4Slack">
      <WebhookUrl value="https://hooks.slack.com/services/[incoming/webhook/token]" />
      <Channel value="#testing" />
      <Username value="Log4Slack" />
      <IconUrl value="" />
      <IconEmoji value=":ghost:" />
      <AddAttachment value="true" />
      <AddExceptionTraceField value="true" />
      <UsernameAppendLoggerName value="true"/>
      <LinkNames value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[TEST] %-5level %logger - %message" />
      </layout>
      <mapping>
        <level value="INFO" />
        <backColor value="SkyBlue" />
      </mapping>
    </appender>
  </log4net>
</configuration>